name: 192.168.1.1
master: ws://127.0.0.1:8888/
pidfile: /tmp/levi.pid

tasknum: 3
taskinterval: 3

readbuffersize: 10240
writebuffersize: 10240

git:
  endpoint: http://git.hunantv.com
  workdir: /tmp
  extenddir: /tmp/extend

nginx:
  configs: /tmp/levi/nginx
  template: ./etc/site.tmpl
  dyupstream: http://127.0.0.1:10090/upstream

docker:
  endpoint: tcp://192.168.59.103:2375
  registry: 10.1.201.99:8882
  network: bridge

app:
  home: /tmp/levi
  tmpdirs: /tmp/tmpdirs
  permdirs: /tmp/permdirs

etcd:
  sync: True
  machines:
    - http://10.1.201.110:4001
    - http://10.1.201.110:4002

lenz:
  forwards:
    - udp://0.0.0.0:11111
    - udp://0.0.0.0:11111
  stdout: True

metrics:
  reportinterval: 10
  statsd: 10.1.201.42:8125
